/* You can customize theme styles here */

.rad-showcase__bg img {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 25%;
    height: auto;
    max-height: 721px
}

.rad-showcase .platform-links {
    margin-top: 20px;
}
.section--contact .container {
    background-color: transparent;
    padding-top: 15%;
    height: 10%;
    box-shadow: none;
}

p {
    color: #fff;
    font-size: medium;
}